.app-top-toolbar {
  z-index: 5;
  position: relative;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 !important;
  height: 45px !important;
}

.mat-toolbar-multiple-rows {
  min-height: 45px !important;
}

.app-toolbar-logo {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}

.app-toolbar-text {
  color: white;
  padding-left: 22px;
  font-size: 14px;
  font-weight: 600;
}

.app-toolbar-icon {
  width: 0 !important;
  color: #cebeea;
  cursor: pointer;
  padding-left: 10px;
}

.app-toolbar-logo-wrapper {
  line-height: 40px;
  cursor: pointer;
}

.app-toolbar-domain {
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  background: #551cb5;
  padding-right: 10px;
}
