// Extreme Palette
$default-primary: (
  50 : #e9e0f3,
  100 : #c7b3e0,
  200 : #a280cc,
  300 : #7c4db8,
  400 : #6026a8,
  500 : #440099,
  600 : #3e0091,
  700 : #350086,
  800 : #2d007c,
  900 : #1f006b,
  A100 : #ae9aff,
  A200 : #8567ff,
  A400 : #5c34ff,
  A700 : #481aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$default-accent: (
  50 : #e0f4f7,
  100 : #b3e4ec,
  200 : #80d2df,
  300 : #4dc0d2,
  400 : #26b3c9,
  500 : #00a5bf,
  600 : #009db9,
  700 : #0093b1,
  800 : #008aa9,
  900 : #00799b,
  A100 : #c6f0ff,
  A200 : #93e3ff,
  A400 : #60d6ff,
  A700 : #47cfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
