<div fxFlexFill fxLayout="column">
  <div fxFlex="nogrow noshrink" class="app-hide-scrollbars" fxLayout="column">
    <mat-toolbar style="border-bottom: 1px solid #e4e4e4; padding: 5px; height:51px;">
      <button mat-icon-button (click)="closeApps()">
        <mat-icon style="color:#666666;">close</mat-icon>
      </button>

      <span style="color:#666666">EXTREME APPS</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon style="color: #461892" mat-list-icon>public</mat-icon>
        <p matLine style="font-size: 12px; font-weight:700; color:#656565;">DASHBOARD</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon style="color: #461892" mat-list-icon>apps</mat-icon>
        <p matLine style="font-size: 12px; font-weight:700; color:#656565;">MANAGER OF MANAGERS</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon style="color: #461892" mat-list-icon>notifications</mat-icon>
        <p matLine style="font-size: 12px; font-weight:700; color:#656565;">ALARMS</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon style="color: #461892" mat-list-icon>people</mat-icon>
        <p matLine style="font-size: 12px; font-weight:700; color:#656565;">USERS</p>
      </mat-list-item>
    </mat-nav-list>

  </div>
</div>
