<mat-card
  [ngClass]="{'app-structure-tree-card-expanded': treeExpanded, 'app-structure-tree-card-collapsed' : !treeExpanded}">
  <mat-toolbar class="app-structure-tree-toolbar">
    <a (click)="toggleStructureCollapse()">
      <mat-icon *ngIf="treeExpanded" class="app-structure-tree-toggle" fontSet="fas"
                fontIcon="fa-caret-left"></mat-icon>
      <mat-icon *ngIf="!treeExpanded" class="app-structure-tree-toggle" fontSet="fas"
                fontIcon="fa-caret-right"></mat-icon>
    </a>
    <mat-icon (click)="toggleStructureCollapse()" class="app-structure-tree-icon" fontSet="icon"
              fontIcon="icon-tree"></mat-icon>
    <div class="app-structure-tree-heading" *ngIf="treeExpanded">
      STRUCTURE
    </div>
    <span fxFlex></span>
    <mat-icon *ngIf="treeExpanded" class="app-structure-tree-action-icon" fontSet="icon"
              fontIcon="icon-mode_edit"></mat-icon>
    <mat-icon *ngIf="treeExpanded" class="app-structure-tree-action-icon" fontSet="icon" fontIcon="icon-pin"></mat-icon>
  </mat-toolbar>
  <div class="tree-wrapper">
    <p-tree *ngIf="treeExpanded && expandableDomainNodes"
            [value]="structureTree"
            selectionMode="single"
            [(selection)]="selectedNode"
            (onNodeExpand)="nodeExpanded($event)"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>
    <p-tree *ngIf="treeExpanded && !expandableDomainNodes"
            [value]="structureTree"
            selectionMode="single"
            [(selection)]="selectedNode"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>
  </div>
  <mat-card-content *ngIf="!treeExpanded">
    <div class="app-structure-tree-collapsed-text">STRUCTURE</div>
  </mat-card-content>
</mat-card>
