.tree-wrapper {
  max-height: 79.67vh;
  overflow: auto;
}
.app-system-tree-card-expanded {
  height: 100%;
  width:350px;
  padding: 0;
}
.app-system-tree-card-collapsed {
  height: 100%;
  width: 45px;
  padding: 0;
}
.app-system-tree-tab-group {
  background: #f9f8fc !important;
}
.app-system-tree-toolbar-buttons {
  color:#666666;
  font-size: 19px;
}
.app-systems-tree-action-toolbar {
  position: absolute;
  bottom: 0;
  background: white;
  height: 40px;
}
.mat-elevation-z1 {
  position: relative;
}

.app-system-tree-toolbar-top {
  height: 50px;
  background: white;
  border-bottom: 1px solid #e4e4e4;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 3px;
}

.app-system-tree-toggle {
  margin-left: 10px;
  cursor: pointer;
}

.app-systems-tree-collapsed-text {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  position: relative;
  right: 55px;
  top: 83px;
  width: 155px;
  font-size: 15px;
  color: #451C96;
  font-weight: 600;
}

.app-system-pin-toggle {
  color: #666666;
  font-size: 15px;
  height: 19px;
}
